@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Google Sans", sans-serif;
}
a {
  text-decoration: none;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #141414;
}
.profile {
  min-width: 30%;
  padding: 30px;
  background-color: #1f1f1f;
  color: #ffffff;
  border-radius: 15px;
}
.profile h1 {
  text-align: center;
  margin: 5px 0;
}
.profile p {
  letter-spacing: 1px;
  margin-bottom: 25px;
  text-align: center;
}
.profile h2 {
  color: #c5f82a;
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
}
.profile .image {
  display: flex;
  justify-content: center;
}
.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.profile a {
  display: block;
  background-color: #333333;
  color: #ffffff;
  min-width: 100%;
  padding: 15px;
  margin: 15px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 500ms;
  text-align: center;
  font-weight: 500;
}
.profile a:hover {
  background-color: #c5f82a;
  color: #1f1f1f;
}
